<!DOCTYPE html>
<html>
  <head>
    <title>Min</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1><%= link_to 'Blog', root_path, class: 'title' %></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li class="nav-list">SignIn</li>
          <li class="nav-list">SignOut</li>
          <li class="nav-list"><%= link_to 'New', new_miniblog_path, class: 'nav-list' %></li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
